/** Common Icons **/
.add_icon, .edit_icon, .del_icon, .url_icon {
    text-decoration:none;
    margin-top:0pt;
    padding:0.4em;
    padding-left:1.7em;
    background:transparent;
    background-repeat: no-repeat;
    background-position: 0.3em center;
    -moz-border-radius:0.4em;
    -webkit-border-radius:0.4em;
    border-radius:0.4em;
}
.add_icon:hover, .edit_icon:hover, .del_icon:hover, .url_icon:hover {
    background-color:#DDDDDD;
}

.url_icon {
    background-image:url(images/url_grey.png);
}
.url_icon:hover {
    background-image:url(images/url_black.png);
}
.add_icon {
    background-image:url(images/add_grey.png);
}
.add_icon:hover {
    background-image:url(images/add_black.png);
}
.edit_icon {
    background-image:url(images/edit_grey.png);
}
.edit_icon:hover {
    background-image:url(images/edit_black.png);
}
.del_icon {
    background-image:url(images/del_grey.png);
}
.del_icon:hover {
    background-image:url(images/del_black.png);
}

/** Common Form elements **/

.form_info {
    clear:left;
    margin:0.25em 0 0.25em 6.75em;
}
.form_label {
    clear:left;
    float:left;
    margin:0.3em 0;
    width:6.25em;
    padding:0.15em;
}
.wide_label .form_label {
    width:8.25em;
}
.form_box {
    margin:0.6em;
}
.form, .form_btn {
    padding:0.2em;
    margin:0.25em;
    color:black;
}
.form {
    width:26em;
}
.wide_label .form {
    width:24em;
}
select.form, textarea.form {
    width:26.5em;
}
.wide_label select.form,
.wide_label textarea.form {
    width:24.5em;
}
.form {
    color:#333333;
    background:#ECECEC;
    border:1px solid #999999;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
    border-radius:0.3em;
    
    box-shadow: inset 0.1em 0.2em 0.20em #D3D3D3;
   -o-box-shadow: inset 0.1em 0.2em 0.20em #D3D3D3;
   -webkit-box-shadow: inset 0.1em 0.2em 0.20em #D3D3D3;
   -moz-box-shadow: inset 0.1em 0.2em 0.20em #D3D3D3;

}
.form.focus {
	color:black;
    border:1px solid #777777;
    box-shadow: inset 0.1em 0.2em 0.20em #CCCCCC, 0 0 0.2em #A0A0A0;
   -o-box-shadow: inset 0.1em 0.2em 0.20em #CCCCCC, 0 0 0.2em #A0A0A0;
   -webkit-box-shadow: inset 0.1em 0.2em 0.20em #CCCCCC, 0 0 0.2em #A0A0A0;
   -moz-box-shadow: inset 0.1em 0.2em 0.20em #CCCCCC, 0 0 0.2em #999999;
}
.form_btn {
    padding:0.25em 0.5em;
    background:#F0F0F0 url("images/btn_bg_btm_light.png") repeat-x bottom center;
    border:1px solid #777777;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
    border-radius:0.5em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 0.3em #999999;
    -webkit-box-shadow:0 0 0.3em #999999;
    box-shadow:0 0 0.3em #999999;
    
}

.form_btn:active {
    -webkit-transform: translateY(1px)	;
    -moz-transform: translateY(1px);
}

.form_btn:hover {
	background-color:#E0E0E0;
}
a.form_btn {
    text-decoration:none;
    font-weight:normal;
    padding:0.1em 0.25em 0.1em 0.25em;
}
.form_text {
    padding:0.50em 0.2em;
}
.form_box, .form_box_header {
	background: #F0F0F0 url("images/white_gradient.png") -20px -50px repeat-x;
    -moz-border-radius-topleft:0.35em;
    -moz-border-radius-topright:0.35em;
    -webkit-border-top-left-radius:0.35em;
    -webkit-border-top-right-radius:0.35em;
    border-top-left-radius:0.35em;
    border-top-right-radius:0.35em;
}
.form_box {
    width: 30em;
   	margin:1em auto;
	border:1px solid #999999;
    -moz-border-radius:0.35em;
    -webkit-border-radius:0.35em;
    border-radius:0.35em;
    -moz-box-shadow: 0px 0.10em 0.3em #999999;
    -webkit-box-shadow:0px 0.15em 0.3em #999999;
    box-shadow:0px 0.15em 0.3em #999999;
    color: black;
}
.form_box_padding {
	padding:0.7em;
	margin:0;
}
.form_box_header {
	background-color: #E0E0E0;
	padding: 0.5em 0.5em 0.3em;
	font-weight: bold;
	border-bottom: 1px solid #AAAAAA;
}
.form_submit {
	margin:0.75em 0 0;
}

/* Search box styles */
.search_box {
    background:#F0F0F0;
    border:1px solid #CCCCCC;
    padding: 10px;
    margin:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.search_pad {
    left:5px;
    right:55px;
    margin:0;
    padding:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #888888;
    background:#F9F9F9 url("images/search_bar_inactive.png") repeat-x bottom center;

    box-shadow: inset 0.1em 0.2em 0.25em #CCCCCC, 0 0 0.2em #AAAAAA;
    -o-box-shadow: inset 0.1em 0.2em 0.25em #CCCCCC, 0 0 0.2em #AAAAAA;
    -webkit-box-shadow: inset 0.1em 0.2em 0.25em #CCCCCC, 0 0 0.2em #AAAAAA;
    -moz-box-shadow: 0 0 0.2em #AAAAAA;
}
.search_type {
    box-shadow: inset 0.1em 0.2em 0.25em #CCCCCC, 0 0 0.2em #AAAAAA;
    -o-box-shadow: inset 0.1em 0.2em 0.25em #CCCCCC, 0 0 0.2em #AAAAAA;
    -webkit-box-shadow: inset 0.1em 0.2em 0.25em #CCCCCC, 0 0 0.2em #AAAAAA;
    -moz-box-shadow: 0 0 0.2em #AAAAAA;
}
.search {
    background:none;
    border:0;
    color:#333333;
    display:block;
    padding:0;
    margin:0;
    width:100%;
}
.search_active {
    background:white url("images/search_bar.png") repeat-x bottom center;
    border:1px solid #555555;
    color:black;
}

